{{=<% %>=}}
<%#metrics%>
# HELP <%& name%> <%& help%>
# TYPE <%& name%> <%& type%>
<%#metrics%>
<%& name%>{<%#labels%><%& name%>="<%& value%>", <%/labels%>} <%& value%> <%& timestamp%>
<%/metrics%>
<%/metrics%>
<%={{ }}=%>
